Q1: You are working in a bank, and you have been given two lists of the employees who worked in 2021. Employees’ names in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob, and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, and Sarita. Please write a program that helps to identify people who are common in both lists. Please do not use any in-built function.

In [ ]:
list1 = [ "Ramesh", "Suresh", "Mahesh", "Ali", "Jacob","Saritha" ] #Employees name
list2 = [ "Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Sarita" ]
s_n=0                   #to give serial numbers
count=0                 #count varaible to store number of names repiting
for i in list1:
  for j in list2:       #for each value of (i),second loop iterate over list2
    if i==j:
      count += 1
      s_n += 1
      print(f"{s_n}.{i}")

1.Mahesh
2.Ali
3.Jacob

Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and converts them into a list. Once converted into a list, please write a program that adds their age.
Ramesh:  25
Suresh: 22
Mohit: 26

In [ ]:
string="Ramesh Suresh Mohit"
nsep=string.split()
nsep
l = [25,22,26]

for i,j in zip(nsep,l):      #zip() function is used to iterate both list parallely
  print(i+":",j)

Ramesh: 25
Suresh: 22
Mohit: 26

Q3:You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin, and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49, and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, the total cost of all medicine, and how much money you refunded to the patient.

In [ ]:
P1=paracetamol_strips= 2*35
P2=azithromycin_strips= 3*49
P3=vitaminC_strips=   5*33
total_bill=P1+P2+P3

print("Total cost of paracetamol_strips:",P1,"\nTotal cost of azithromycin_strips:",P2,"\nTotal cost of vitaminC_strips:",P3)
print("Total cost of medicine:",total_bill)

payment=2000
refund=payment-total_bill
print("Refund amount:",refund)

Total cost of paracetamol_strips: 70
Total cost of azithromycin_strips: 147
Total cost of vitaminC_strips: 165
Total cost of medicine: 382
Refund amount: 1618

Q4:Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example, I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [ ]:
def sentc(sentence):
  count=0
  vowels="aeiou"
  Vowels='AEIOU'

  for i in sentence:
    if i in vowels or i in Vowels:      #checking occurence of vowels in given string
      count=count+1                     #storing occurence of vowel in varaible count
  print(count)

sentc("I am learning python")

6

Q5: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible, your output should be ‘Congrats! You are eligible’; otherwise, it should tell that you have to return after X number of years. The eligibility criteria for voting is 18 years.

For example, If someone is 18 or above, your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years, it should print output as ‘return after 3 years’.

In [ ]:
age=int(input())
eligible_age=18

if age>=eligible_age:
  print("Congrats! You are eligible for voting")
else:
  print(f"You are not eligible for voting.\nReturn after {eligible_age-age} years.")

14
You are not eligible for voting.
Return after 4 years.

Q6: Given a list of integers, find the cumulative sum of the elements of the list and store them in another list.
A = [1, 2, 3, 4, 5]
Output:
[1, 3, 6, 10, 15]

In [ ]:
A = [1, 2, 3, 4, 5]
sum=0
List=[]
for i in A:
  sum=sum+i
  List.append(sum)
print(List)

[1, 3, 6, 10, 15]

Q7:WAP to encode a message entered by user as per below conditions:
for every word in the sentence,
1. If the word starts with a vowel, encode it as the first and last letter of the word.
2. If the word starts with a consonant, remove all vowels from it.
Ensure the case insensitive comparisons/checks are performed.
Please enter your text:The quick brown fox used to sleep inside this box
Encoded Msg: Th qck brwn fx ud t slp ie ths bx

In [ ]:
def message(string):               # user_defined function
  vowels="AEUOIaeiou"
  words=string.split()
  encoded=[]                       #empty list to append the obtain value
  for w in words:
    if w[0] in vowels:
      encoded.append(w[0]+w[-1])
    else:
      for i in w:
        if i[0] not in vowels:
          encoded.append(''.join(i))
  result=" ".join((encoded))
  print(result)
message("The quick brown fox used to sleep inside this box ")

T h q c k b r w n f x ud t s l p ie t h s b x

Q8:Write a program to implement run length encoding of a string
RLE:Consecutive repetition of a character has to be replaced with the count of occurrences and the character
Enter your string :aabbbccdddae
Encoded: 2a3b2c3d1a1e

In [ ]:
def your_string(string):
  count=1
  char=''
  index=0
  for i in range(0,len(string)):
    if string[i] == string[i -1]:
      count=count+1
    else:
      char += str(count) + string[i]
  print(char)

your_string("aabbbccdddae")

1a2b4c5d7a7e